html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  background-color: rgb(230, 230, 230);
}

.container {
	text-align: center;
}

.container a:visited {
	
}

.main-content {
    padding-top: 80px;
    text-align: center;
    background-color: rgb(230,230,230);
    /*color: #ccc;*/
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 600px;
    
}

header {
	width: 100%;
	margin-bottom: 40px;
	padding-top: 10px;
}

.footer {
	background-color: rgb(190,190,190);
    color: #999;
    position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	/* Set the fixed height of the footer here */
	
}

.tabela-home img {
	width: 125px;
}

.bar-icon {
	height: 30px;
}

/*form login*/
.form-signin {
	text-align: left;
  	max-width: 330px;
  	padding: 15px;
  	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*form login*/

/*form em geral*/

.form-input-750 {
	max-width: 750px;
	text-align: left;
}

.form-input-350 {
  max-width: 350px;
  text-align: left;
}